[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "*"
pre-commit = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
pytest = "*"
sphinxcontrib-bibtex = "*"
enum-tools = "*"
sphinx-toolbox = "*"
sphinxcontrib-inlinesyntaxhighlight = "*"

[requires]
python_version = "3.9"
