[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"

[dev-packages]
black = "*"
pre-commit = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
pytest = "*"
sphinxcontrib-bibtex = "*"
setuptools = "*"
build = "*"
twine = "*"
sphinx-argparse = "*"
tox = "*"
darglint = "*"
typing-extensions = "*"
coverage = "*"
codecov = "*"

[pipenv]
allow_prereleases = true
