[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
setuptools = "*"
wheel = "*"
twine = "*"
build = "*"
requests = "*"

[packages]

[requires]
python_version = "3.8"
