:root {
    --uga-sanford: #554F47;
    --uga-sanford-1: #4c473f;
    --uga-sanford-2: #443f38;
    --uga-sanford-3: #3b3731;
    --uga-sanford-4: #332f2a;
    --uga-stegemen: #9EA2A2;
    --uga-creamery: #D6D2C4;
    --uga-creamery-1: #c0bdb0;
    --uga-creamery-2: #aba89c;
    --uga-creamery-3: #959389;
    --uga-odyssey: #C8D8EB;
}
