alabaster==0.7.12
attrs==21.2.0
Automat==20.2.0
Babel==2.9.1
backports.entry-points-selectable==1.1.0
black==21.9b0
bleach==4.1.0
build==0.7.0
certifi==2021.5.30
cffi==1.15.0rc2
cfgv==3.3.1
charset-normalizer==2.0.6
click==8.0.1
colorama==0.4.4
constantly==15.1.0
cryptography==35.0.0
cssselect==1.1.0
distlib==0.3.3
docutils==0.17.1
filelock==3.3.0
h2==3.2.0
hpack==3.0.0
hyperframe==5.2.0
hyperlink==21.0.0
identify==2.3.0
idna==3.2
imagesize==1.2.0
importlib-metadata==4.8.1
incremental==21.3.0
iniconfig==1.1.1
itemadapter==0.4.0
itemloaders==1.0.4
Jinja2==3.0.2
jmespath==0.10.0
keyring==23.2.1
latexcodec==2.0.1
lxml==4.6.3
MarkupSafe==2.0.1
mypy-extensions==0.4.3
nodeenv==1.6.0
packaging==21.0
parsel==1.6.0
pathspec==0.9.0
pep517==0.11.0
pkginfo==1.7.1
platformdirs==2.4.0
pluggy==1.0.0
pre-commit==2.15.0
priority==1.3.0
Protego==0.1.16
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybtex==0.24.0
pybtex-docutils==1.0.1
pycparser==2.20
PyDispatcher==2.0.5
Pygments==2.10.0
pyOpenSSL==21.0.0
pyparsing==3.0.0rc2
pytest==6.2.5
pytz==2021.3
PyYAML==6.0b1
queuelib==1.6.2
readme-renderer==30.0
regex==2021.9.30
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
Scrapy==2.5.1
service-identity==21.1.0
six==1.16.0
snowballstemmer==2.1.0
Sphinx==4.2.0
sphinx-argparse==0.3.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-bibtex==2.4.1
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
toml==0.10.2
tomli==1.2.1
tqdm==4.62.3
trove-classifiers==2021.9.27
twine==3.4.2
Twisted==21.7.0
typing-extensions==3.10.0.2
urllib3==1.26.7
virtualenv==20.8.1
w3lib==1.22.0
webencodings==0.5.1
zipp==3.6.0
zope.interface==5.4.0
